extends layout

block content
  include layout/header
  include components/slider
  include components/thumbs
  include components/clothes
  include components/loadmore
  include components/vertical-slider
  include components/brands
  include layout/footer
