section.brands
  .container
    .brands__list#designers
      .brands__item
        a.brands__link(href="https://www.glamour.com/" target = '_blank')
          img.brands__img(src="/img/brands-title/glamour.svg", alt="glamour")
      .brands__item
        a.brands__link(href="https://www.elle.com/" target = '_blank')
          img.brands__img(src="/img/brands-title/elle.svg", alt="elle")
      .brands__item
        a.brands__link(href="https://www.marieclaire.com/" target = '_blank')
          img.brands__img(src="/img/brands-title/marie-claire.svg", alt="marie claire")
      .brands__item
        a.brands__link(href="http://www.gq.ru/?international" target = '_blank')
          img.brands__img(src="/img/brands-title/gq.svg", alt="gq")
      .brands__item
        a.brands__link(href="https://www.vogue.com/" target = '_blank')
          img.brands__img(src="/img/brands-title/vogue.svg", alt="vogue")
      .brands__item.last
        a.brands__link(href="https://www.cosmopolitan.com/" target = '_blank')
          img.brands__img(src="/img/brands-title/cosmopolitan.svg", alt="cosmopolitan")
