sections.clothes
  .container
    ul.clothes__list#collections
      li.clothes__item.model-1
        .clothes__img-wrapper
          img.clothes__img(src="/img/model-1.png", alt="model one")
        a.clothes__link(href="#")
        ul.clothes__icons-list
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-heart.svg", alt="heart")
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-plus.svg", alt="plus")
      li.clothes__item.model-2
        .clothes__img-wrapper
          img.clothes__img.double(src="/img/model-2.png", alt="model two")
        a.clothes__link(href="#")
        ul.clothes__icons-list
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-heart.svg", alt="heart")
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-plus.svg", alt="plus")
      li.clothes__item.model-3
        .clothes__img-wrapper
          img.clothes__img(src="/img/model-3.png", alt="model three")
        a.clothes__link(href="#")
        ul.clothes__icons-list
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-heart.svg", alt="heart")
            li.clothes__icons-item
              a.clothes__icons-link(href="#")
                img.clothes__icons-ico(src="/img/icons/ico-plus.svg", alt="plus")
      li.clothes__item.model-4
        .clothes__img-wrapper
          img.clothes__img(src="/img/model-4.png", alt="model four")
        a.clothes__link(href="#")
        ul.clothes__icons-list
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-heart.svg", alt="heart")
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-plus.svg", alt="plus")
      li.clothes__item.model-5
        .clothes__img-wrapper
          img.clothes__img.clothes__img-view(src="/img/model-5.png", alt="model five")
        a.clothes__link.view(href="#") view
        ul.clothes__icons-list
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-heart-model-5.svg", alt="heart")
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-plus-model-5.svg", alt="plus")
        .clothes__description
          .clothes__description-wrapper
            h3.clothes__description-title madewell skirt
            .clothes__description-colors
              .clothes__description-size s, m, l |
              .color__white
              .color__red
              .color__azure
          .clothes__price $56
      li.clothes__item.model-6
        .clothes__img-wrapper
          img.clothes__img(src="/img/model-6.png", alt="model six")
        a.clothes__link(href="#")
        ul.clothes__icons-list
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-heart.svg", alt="heart")
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-plus.svg", alt="plus")
      li.clothes__item.model-7
        .clothes__img-wraper
          img.clothes__img(src="/img/model-7.png", alt="model seven")
        a.clothes__link(href="#")
        ul.clothes__icons-list
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-heart.svg", alt="heart")
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-plus.svg", alt="plus")
      li.clothes__item.model-8
        .clothes__img-wrapper
          img.clothes__img(src="/img/model-8.png", alt="model eight")
        a.clothes__link(href="#")
        ul.clothes__icons-list
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-heart.svg", alt="heart")
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-plus.svg", alt="plus")
      li.clothes__item.model-9
        .clothes__img-wrapper
          img.clothes__img(src="/img/model-9.png", alt="model nine")
        a.clothes__link(href="#")
        ul.clothes__icons-list
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-heart.svg", alt="heart")
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-plus.svg", alt="plus")
      li.clothes__item.model-10
        .clothes__img-wrapper
          img.clothes__img(src="/img/model-10.png", alt="model ten")
        a.clothes__link(href="#")
        ul.clothes__icons-list
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-heart.svg", alt="heart")
          li.clothes__icons-item
            a.clothes__icons-link(href="#")
              img.clothes__icons-ico(src="/img/icons/ico-plus.svg", alt="plus")
