section.main__slider
  .container
    .slider
      .slider__slides
        .slider__slide.slide
          h1.slide__title-top New #[span.slide__title-center Season] #[span.slide__title-bottom Looks]
          .slide__img-wrapper
            img.slide__img(src="/img/slider-model.png", alt="model")
          .slide__clip-path
        .slider__slide.slide
          h1.slide__title-top New #[span.slide__title-center Season] #[span.slide__title-bottom Looks]
          .slide__img-wrapper
            img.slide__img(src="/img/slider-model.png", alt="model")
          .slide__clip-path
        .slider__slide.slide
          h1.slide__title-top New #[span.slide__title-center Season] #[span.slide__title-bottom Looks]
          .slide__img-wrapper
            img.slide__img(src="/img/slider-model.png", alt="model")
          .slide__clip-path
        .slider__slide.slide
          h1.slide__title-top New #[span.slide__title-center Season] #[span.slide__title-bottom Looks]
          .slide__img-wrapper
            img.slide__img(src="/img/slider-model.png", alt="model")
          .slide__clip-path
      a.slider__prev(href="#")
        img(src="/img/icons/ico-arrow-prev.svg", alt="arrow")
      a.slider__next(href="#")
        img(src="/img/icons/ico-arrow-next.svg", alt="arrow")
      .btns__one
        .slider__one-nav.active
        .slider__one-nav
        .slider__one-nav
        .slider__one-nav
