section.thumbs
  .container
    ul.thumbs__list
      li.thumbs__item
        h3.thumbs__title spring
      li.thumbs__item
        h3.thumbs__title.title-summer summer
      li.thumbs__item
        h3.thumbs__title autumn
      li.thumbs__item
        h3.thumbs__title winter
