footer.footer
  .container
    .footer__wrapper
      ul.footer__menu-list
        li.footer__menu-item
          a.footer__menu-link(href="#home") Home
        li.footer__menu-item
          a.footer__menu-link(href="#about") About
        li.footer__menu-item
          a.footer__menu-link(href="#contact") Contact
      h3.footer__description.footer__description-left Image rights belong to their respective owners.
      ul.footer__socials-list
        li.footer__socials-item
          a.footer__socials-link(href="#")
            img.footer__socials-icon(src="/img/icons/ico-pinterest.svg", alt="pinterest")
        li.footer__socials-item
          a.footer__socials-link(href="#")
            img.footer__socials-icon(src="/img/icons/ico-facebook.svg", alt="facebook")
        li.footer__socials-item
          a.footer__socials-link(href="#")
            img.footer__socials-icon(src="/img/icons/ico-twitter.svg", alt="twitter")
      h3.footer__description.footer__description-right Get discount codes in your inbox
      button.footer__btn Subscribe
