header.header#home
  .container1
    .header__wrapper
      #sandwich__nav.sandwich__nav
        .top
        .middle
        .bottom
      nav#menu__nav.menu__nav
        ul#menu__list.menu__nav-list
          li.menu__nav-item
            a.menu__nav-link(href="#home") home
          li.menu__nav-item
            a.menu__nav-link(href="#about") about
          li.menu__nav-item
            a.menu__nav-link(href="#contact") contact
      ul.menu
        li.menu__item
          a.menu__link(href="#trends") trends
        li.menu__item
          a.menu__link(href="#collections") collections
        li.menu__item
          a.menu__link(href="#designers") designers
      ul.info
        li.info__item
          a.info__link(href="#") search
            img.search(src="/img/icons/ico-search.svg", alt="search")
        li.info__item
          a.info__link(href="#")
            img.basket(src="/img/icons/ico-basket.svg", alt="basket")
        li.info__item
          a.info__link(href="#")
            img.user(src="/img/user.png", alt="user")
